:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    height: 100%;
    position: absolute;
    background-color: #15e89b;
    border-radius: 20px;
    color: white;
    border: 10px solid #15e89b;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 1;
    text-align: center;
}

label {
    border-bottom: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman";
    font-size: 1.25rem;
    z-index: 2;
    cursor: pointer;
    &.selected {
        border-radius: 20px;
        background-color: white;
        color:  #15e89b;
        padding: 5px;
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media only screen and (max-width: 1081px) {
    :host {
        width: 100%;
        height: auto;
        display: inline-block;
        text-align: center;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    label {
        font-size: 1rem;

        margin-left: 20px;
        margin-right: 20px;

        &.selected {
            padding: 10px;
        }
    }

}