<div class="itemWrapper" *ngIf="(dbservice.rings$ | async)?.length > 0; else empty">
    <div class="itemBox" *ngFor="let ring of this.dbservice.rings$ | async">
        <div class="imgBox">
            <img [src]="ring.image" id="tableBanner" alt="Ring Image"/>
            <button (click)="dbservice.deleteRing(ring.name)" title="Delete Item">X</button>
        </div>
        <div class="textBox">
            <h3>{{ ring.name }}</h3>
            <p>{{ ring.prop }}</p>
        </div>
    </div>
</div>

<ng-template #empty>The list is empty...</ng-template>
