#mainBox {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    #imgBox {
        .imageOffline {
            height: auto;
            width: 100%;
        }

    }
}

@media only screen and (max-width: 1081px) {

   img {
       width: 250px;
       height: 200px;
   } 

}